In [3]:
import pandas as pd
import numpy as np
frames = []
for year in range(1925,2013):
  
    df = pd.read_csv("bronzeTablet_1925_2013.csv", names=["Year", "Name", "Something"])
    frames.append( df )

df = pd.concat(frames, ignore_index=True)

In [4]:
df

         Year                      Name Something
0        1925        Claron Dale Barber       NaN
1        1925       Francis James Benda       NaN
2        1925          Philip Berkowitz       NaN
3        1925  William Herbert Clingman       NaN
4        1925   Roman Anthony Jascoviak       NaN
5        1925    William Dwight Lansing       NaN
6        1925       Essie Adele Morrell       NaN
7        1925      Waldo George Mueller       NaN
8        1925     Rudolph Earl Peterson       NaN
9        1925       Gilbert Jay Roberts       NaN
10       1925        Carl Emil Roessler       NaN
11       1925     George Heywood Vernon       NaN
12       1925       Mary Frances Waters       NaN
13       1925       Le Roy Richard Weis       NaN
14       1926        Robert Verne Baker       NaN
15       1926    Louise Alice Brumbaugh       NaN
16       1926    Martin Paul Catherwood       NaN
17       1926      Blanche Marie Colvin       NaN
18       1926     Bernard Martin Decker       NaN
19       1926     Helen Margaret Grimes       NaN
20       1926     Richard Ellis Haswell       NaN
21       1926           Valentine Jobst       NaN
22       1926     Esther Nelson Lampert       NaN
23       1926               Wu Yuey Len       NaN
24       1926         John George Lynch       NaN
25       1926       Luther Hancock Lyon       NaN
26       1926       Frederick Paul Morf       NaN
27       1926           Nora Orpha Null       NaN
28       1926      Ruth Dorothy Peabody       NaN
29       1926      Jessie Louise Potter       NaN
...       ...                       ...       ...
1085714  2013       Mateusz Michal Wala       NaN
1085715  2013                Bowen Wang       NaN
1085716  2013                Shuyu Wang       NaN
1085717  2013         Joseph Reid Weber       NaN
1085718  2013              Eric Wei Wei       NaN
1085719  2013     Kathleen Joy Weichman       NaN
1085720  2013           Alexa M. Weiler       NaN
1085721  2013        Yeshiahu Weinstein       NaN
1085722  2013        Lindsey M. Weishar       NaN
1085723  2013        Jeffrey S. Wheeler       NaN
1085724  2013          Madison M. Whitt       NaN
1085725  2013       Zachary B. Wienhoff       NaN
1085726  2013        Jake Walter Wiesen       NaN
1085727  2013         David a. Wisthuff       NaN
1085728  2013         Jessica Lily Wong       NaN
1085729  2013              Robert Y. Wu       NaN
1085730  2013          Weixin Angela Wu       NaN
1085731  2013         Sharon M. Wyskiel       NaN
1085732  2013               Yaorui Xiao       NaN
1085733  2013                Zhixing Xu       NaN
1085734  2013                Jizhe Yang       NaN
1085735  2013               Jessica Yeh       NaN
1085736  2013      Jeffrey M. Yoshimura       NaN
1085737  2013         Tess Brianne Zehr       NaN
1085738  2013          Jeanne E. Zeller       NaN
1085739  2013                Qian Zhang       NaN
1085740  2013             Weichao Zhang       NaN
1085741  2013             Juntong Zheng       NaN
1085742  2013                Jerry Zhou       NaN
1085743  2013            Korinna Zorina       NaN

[1085744 rows x 3 columns]

In [17]:
test = df.pivot_table(index="Year")
test

DataError: No numeric types to aggregate

In [5]:
def getProbF(d):
    # d is each record in our DataFrame
    # Example: d["Full Name"] will return each person's full name
   
    # ... your code ...
   
    # Return the value that should be inserted into the row:
    return 0.5

def getProbM(d):
    # d is each record in our DataFrame
    # Example: d["Full Name"] will return each person's full name
   
    # ... your code ...
   
    # Return the value that should be inserted into the row:
    return 0.5

df_bronzeTabletNames["pFemale"] = df_bronzeTabletNames.apply(getProbF, axis=1)

NameError: name 'df_bronzeTabletNames' is not defined

In [20]:
df_tabletest = pd.DataFrame(index = list(range(1925,2013)),columns =["Unknown Name","Unisex Name","Female Name","Male Name","%Male Names(of known names)","%Female Names(of known names)"])
df_tabletest

,Unknown Name,Unisex Name,Female Name,Male Name,%Male Names(of known names),%Female Names(of known names)
1925,NaN,NaN,NaN,NaN,NaN,NaN
1926,NaN,NaN,NaN,NaN,NaN,NaN
1927,NaN,NaN,NaN,NaN,NaN,NaN
1928,NaN,NaN,NaN,NaN,NaN,NaN
1929,NaN,NaN,NaN,NaN,NaN,NaN
1930,NaN,NaN,NaN,NaN,NaN,NaN
1931,NaN,NaN,NaN,NaN,NaN,NaN
1932,NaN,NaN,NaN,NaN,NaN,NaN
1933,NaN,NaN,NaN,NaN,NaN,NaN
1934,NaN,NaN,NaN,NaN,NaN,NaN
1935,NaN,NaN,NaN,NaN,NaN,NaN
1936,NaN,NaN,NaN,NaN,NaN,NaN
1937,NaN,NaN,NaN,NaN,NaN,NaN
1938,NaN,NaN,NaN,NaN,NaN,NaN
1939,NaN,NaN,NaN,NaN,NaN,NaN
1940,NaN,NaN,NaN,NaN,NaN,NaN
1941,NaN,NaN,NaN,NaN,NaN,NaN
1942,NaN,NaN,NaN,NaN,NaN,NaN
1943,NaN,NaN,NaN,NaN,NaN,NaN
1944,NaN,NaN,NaN,NaN,NaN,NaN
1945,NaN,NaN,NaN,NaN,NaN,NaN
1946,NaN,NaN,NaN,NaN,NaN,NaN
1947,NaN,NaN,NaN,NaN,NaN,NaN
1948,NaN,NaN,NaN,NaN,NaN,NaN
1949,NaN,NaN,NaN,NaN,NaN,NaN
1950,NaN,NaN,NaN,NaN,NaN,NaN
1951,NaN,NaN,NaN,NaN,NaN,NaN
1952,NaN,NaN,NaN,NaN,NaN,NaN
1953,NaN,NaN,NaN,NaN,NaN,NaN
1954,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1983,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN
2010,NaN,NaN,NaN,NaN,NaN,NaN
2011,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,NaN,NaN,NaN,NaN,NaN