In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("res/uiuc_demographics_2005_15.csv")
df

,Fall,Term Code,College,Dept.,Degree,Major Code,Major Name,Conc. Code,Conc. Name,Total,Male,Female,Unknown,Academic Program Code
0,2015.0,120158.0,KP,227.0,BS,5163.0,Agricultural & Biological Engr,5270,Agricultural Engineering,17.0,14.0,3.0,0.0,10KP5163BS
1,2015.0,120158.0,KP,227.0,BS,5163.0,Agricultural & Biological Engr,5271,Biological Engineering,15.0,11.0,4.0,0.0,10KP5163BS
2,2015.0,120158.0,KP,227.0,MENGR,1211.0,Engineering,5370,Energy Systems,20.0,14.0,6.0,0.0,10KS5370MENG
3,2015.0,120158.0,KP,227.0,BS,5163.0,Agricultural & Biological Engr,,,31.0,22.0,9.0,0.0,10KP5163BS
4,2015.0,120158.0,KP,227.0,MS,5163.0,Agricultural & Biological Engr,,,29.0,20.0,9.0,0.0,10KS5163MS
5,2015.0,120158.0,KP,227.0,PHD,5163.0,Agricultural & Biological Engr,,,34.0,21.0,13.0,0.0,10KS5163PHD
6,2015.0,120158.0,KP,227.0,NDEG,67.0,Nondegree,,,218.0,172.0,46.0,0.0,10KP0067NDEG
7,2015.0,120158.0,KM,230.0,MBA,9875.0,Business Administration (MBA),5469,Info Technology and Control,1.0,1.0,0.0,0.0,10KS9875MBA
8,2015.0,120158.0,KM,230.0,MBA,9875.0,Business Administration (MBA),4064,MBA,104.0,71.0,33.0,0.0,10KS4064MBA
9,2015.0,120158.0,KM,230.0,MBA,9875.0,Business Administration (MBA),,,154.0,112.0,42.0,0.0,10KS9875MBA
10,2015.0,120158.0,KT,238.0,PHD,279.0,Communications,,,6.0,2.0,4.0,0.0,10KS0279PHD
11,2015.0,120158.0,KT,238.0,PHD,5202.0,Communications and Media,,,40.0,13.0,27.0,0.0,10KS5202PHD
12,2015.0,120158.0,KV,241.0,BALAS,340.0,Anthropology,5043,Socioculturl & Linguistic Anth,3.0,2.0,1.0,0.0,10KV5043BALA
13,2015.0,120158.0,KV,241.0,BALAS,340.0,Anthropology,,,7.0,1.0,6.0,0.0,10KV8037BALA
14,2015.0,120158.0,KV,241.0,BSLAS,5348.0,Computer Sci & Anthropology,,,1.0,0.0,1.0,0.0,10KV8037BSLA
15,2015.0,120158.0,KV,241.0,BSLAS,5348.0,Computer Sci & Anthropology,,,10.0,8.0,2.0,0.0,10KV5348BSLA
16,2015.0,120158.0,KV,241.0,BALAS,340.0,Anthropology,,,75.0,24.0,51.0,0.0,10KV0340BALA
17,2015.0,120158.0,KV,241.0,PHD,340.0,Anthropology,,,61.0,16.0,45.0,0.0,10KS0340PHD
18,2015.0,120158.0,KP,244.0,MS,240.0,Physics,,,3.0,3.0,0.0,0.0,10KS0240MS
19,2015.0,120158.0,KP,244.0,BS,121.0,Engineering Physics,,,248.0,218.0,30.0,0.0,10KP0121BS
20,2015.0,120158.0,KP,244.0,PHD,240.0,Physics,,,258.0,200.0,58.0,0.0,10KS0240PHD
21,2015.0,120158.0,KP,251.0,PHD,232.0,Environ Science in Civil Engr,,,1.0,0.0,1.0,0.0,10KS0232PHD
22,2015.0,120158.0,KP,251.0,MS,106.0,Civil Engineering,,,2.0,2.0,0.0,0.0,10KS0106MSU
23,2015.0,120158.0,KP,251.0,PHD,231.0,Environ Engr in Civil Engr,,,45.0,23.0,22.0,0.0,10KS0231PHD
24,2015.0,120158.0,KP,251.0,MS,231.0,Environ Engr in Civil Engr,,,55.0,23.0,32.0,0.0,10KS0231MS
25,2015.0,120158.0,KP,251.0,PHD,106.0,Civil Engineering,,,190.0,148.0,42.0,0.0,10KS0106PHD
26,2015.0,120158.0,KP,251.0,BS,106.0,Civil Engineering,,,730.0,536.0,194.0,0.0,10KP0106BS
27,2015.0,120158.0,KP,251.0,MS,106.0,Civil Engineering,,,397.0,290.0,107.0,0.0,10KS0106MS
28,2015.0,120158.0,KV,253.0,BSLAS,334.0,Atmospheric Sciences,,,3.0,2.0,1.0,0.0,10KV8037BSLA
29,2015.0,120158.0,KV,253.0,BSLAS,334.0,Atmospheric Sciences,,,62.0,34.0,28.0,0.0,10KV0334BSLA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7298,2005.0,120058.0,KV,985.0,BALAS,304.0,French,3875,French Commercial Studies,7.0,3.0,4.0,0.0,10KV3875BALA
7299,2005.0,120058.0,KV,985.0,BA,295.0,Teaching of French,,,8.0,2.0,6.0,0.0,10KV0295BA
7300,2005.0,120058.0,KV,985.0,BALAS,304.0,French,3876,French Studies,3.0,0.0,3.0,0.0,10KV3876BALA
7301,2005.0,120058.0,KV,985.0,NDEG,304.0,French,,,5.0,3.0,2.0,0.0,10KS0304NDEG
7302,2005.0,120058.0,KV,985.0,BALAS,304.0,French,,,57.0,14.0,43.0,0.0,10KV0304BALA
7303,2005.0,120058.0,KV,985.0,MA,304.0,French,,,17.0,6.0,11.0,0.0,10KS0304MA
7304,2005.0,120058.0,KV,985.0,PHD,304.0,French,,,13.0,3.0,10.0,0.0,10KS0304PHD
7305,2005.0,120058.0,LP,992.0,MS,370.0,Library & Information Science,,,2.0,1.0,1.0,0.0,10KS0370MSU
7306,2005.0,120058.0,LP,992.0,CAS,370.0,Library & Information Science,,,9.0,0.0,9.0,0.0,10KS0370CAS
7307,2005.0,120058.0,LP,992.0,MS,370.0,Library & Information Science,0372,Library & Info Sci - MS/F,5.0,0.0,5.0,0.0,10KS0372MS
7308,2005.0,120058.0,LP,992.0,MS,370.0,Library & Information Science,0376,Library & Info Sci - Media,13.0,1.0,12.0,0.0,10KS0376MS
7309,2005.0,120058.0,LP,992.0,PHD,370.0,Library & Information Science,,,48.0,17.0,31.0,0.0,10KS0370PHD
7310,2005.0,120058.0,LP,992.0,MS,370.0,Library & Information Science,,,170.0,49.0,121.0,0.0,10KS0370MS
7311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = df[ df["Fall"] == 2015]

In [9]:
grp = df.groupby("College")
grp.count()

,Fall,Term Code,Dept.,Degree,Major Code,Major Name,Conc. Code,Conc. Name,Total,Male,Female,Unknown,Academic Program Code
College,,,,,,,,,,,,,
KL,70,70,70,70,70,70,70,70,70,70,70,70,70
KM,37,37,37,37,37,37,37,37,37,37,37,37,37
KN,93,93,93,93,93,93,93,93,93,93,93,93,93
KP,71,71,71,71,71,71,71,71,71,71,71,71,71
KR,83,83,83,83,83,83,83,83,83,83,83,83,83
KS,2,2,2,2,2,2,2,2,2,2,2,2,2
KT,18,18,18,18,18,18,18,18,18,18,18,18,18
KU,5,5,5,5,5,5,5,5,5,5,5,5,5
KV,249,249,249,249,249,249,249,249,249,249,249,249,249
KW,1,1,1,1,1,1,1,1,1,1,1,1,1
KY,33,33,33,33,33,33,33,33,33,33,33,33,33
LC,11,11,11,11,11,11,11,11,11,11,11,11,11
LG,2,2,2,2,2,2,2,2,2,2,2,2,2
LL,9,9,9,9,9,9,9,9,9,9,9,9,9
LN,2,2,2,2,2,2,2,2,2,2,2,2,2
LP,6,6,6,6,6,6,6,6,6,6,6,6,6
NB,1,1,1,1,1,1,1,1,1,1,1,1,1

In [10]:
df2 = grp.agg({
    "Female": np.sum,
    "Total": np.sum,
})
df2["%Female"] = df2["Female"] / df2["Total"]
df2

           Total  Female   %Female
College
KL        3265.0  1806.0  0.553139
KM        4266.0  1973.0  0.462494
KN        1195.0   966.0  0.808368
KP       10732.0  2076.0  0.193440
KR        2321.0  1292.0  0.556657
KS          76.0    28.0  0.368421
KT        1104.0   739.0  0.669384
KU         580.0   248.0  0.427586
KV       14032.0  6765.0  0.482112
KW        2790.0  1140.0  0.408602
KY        2181.0  1482.0  0.679505
LC         567.0   472.0  0.832451
LG         186.0   128.0  0.688172
LL         468.0   412.0  0.880342
LN          52.0    36.0  0.692308
LP         271.0   198.0  0.730627
NB           1.0     0.0  0.000000

In [11]:
df2.to_csv("2015uiuc.csv")